<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category_field.category %>
</p>

<p>
  <strong>Field:</strong>
  <%= @category_field.field %>
</p>

<%= link_to 'Edit', edit_category_field_path(@category_field) %> |
<%= link_to 'Back', category_fields_path %>
