<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subitem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subitem.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @subitem.price %>
</p>

<p>
  <strong>Subitem category:</strong>
  <%= @subitem.subitem_category %>
</p>

<%= link_to 'Edit', edit_subitem_path(@subitem) %> |
<%= link_to 'Back', subitems_path %>
