<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :parent_category_id %>
    <%= f.select(:parent_category_id, Category.all.map{ |t| [t.name, t.id] unless t.id == category.id }, {}, class: "form-control") %>
  </div>

  <div class="field">
    <%= f.label :is_leaf %>
    <%= f.check_box :is_leaf %>
  </div>

  <div id="field">
      <%= f.label :category_fields, "Поля", class: "control-label" %>
      <div>
          <% counter = 1 %>
          <%= f.fields_for :category_fields do |category_field| %>
            <%= counter %>
            <% @field = category_field.object.field %>
            <%= render 'category_field_fields', f: category_field %>
            <% counter = counter + 1 %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Добавить поле".html_safe, f, :category_fields %>
          </div>
      </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
